{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is Contact Page</h1>
                <p>nmkhanhbk@gmail.com</p>
            </div>
        </div>
        
    </div>

{{end}}
